@using OstreCWEB.DomainModels.CharacterModels
@using OstreCWEB.DomainModels.CharacterModels.Enums 
@using OstreCWEB.ViewModel.Api
@using OstreCWEB.ViewModel.Characters
@model OstreCWEB.ViewModel.Api.FithEditionApiResponseView

@{
}
<div class="card">
    <div class="card-body">

        <h5 class="card-title">Library</h5> 
        This library is based on the <a href="https://api.open5e.com">Dungeon and Dragons API</a>
        <br /> 
       
         
   
       <partial name="_Filters" model="@Model.Filters"/>
        <label asp-for="@Model.TotalPagesNumber">@Model.TotalPagesNumber </label>
        <label asp-for="@Model.ActivePage">
            @if (Model.ActivePage == 0)
            {
                <div>1</div>
            }
            else
            {
                @Model.ActivePage
            } 
        </label>
        out of
        <label asp-for="@Model.Count">@Model.Count </label>
        @if (@Model.PreviousPage != 0)
        {
            <form method="post" asp-action="Index" asp-route-chosenPage="@Model.PreviousPage">
                <input type="hidden" asp-for="Filters.Limit"/>
                <input type="hidden" asp-for="Filters.ParamToOrder"/>
                <input type="hidden" asp-for="Filters.SearchByName"/>
                <input type="hidden" asp-for="Filters.SearchByInt"/> 
                <input type="submit" value="Previous page" class="btn btn-primary"/>
            </form> 
        } 
        @if(@Model.NextPage != 0)
        {
            <form method="post" asp-action="Index" asp-route-chosenPage="@Model.NextPage">
                <input type="hidden" asp-for="Filters.Limit"/>
                <input type="hidden" asp-for="Filters.ParamToOrder"/>
                <input type="hidden" asp-for="Filters.SearchByName"/>
                <input type="hidden" asp-for="Filters.SearchByInt"/> 
                <input type="submit" value="Next Page" class="btn btn-primary"/>
            </form>    
        }
           
        
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> <Label asp-for="@Model.Results.FirstOrDefault().Name"></Label></th> 
                    <th scope="col"> <Label asp-for="@Model.Results.FirstOrDefault().Casting_time"></Label></th> 
                    <th scope="col"> <Label asp-for="@Model.Results.FirstOrDefault().Concentration"></Label></th> 
                    <th scope="col"> <Label asp-for="@Model.Results.FirstOrDefault().Desc"></Label></th> 
                    <th scope="col"> <Label asp-for="@Model.Results.FirstOrDefault().Dnd_class"></Label></th> 
                    <th scope="col"> <Label asp-for="@Model.Results.FirstOrDefault().Higher_level"></Label></th> 
                    <th scope="col"> <Label asp-for="@Model.Results.FirstOrDefault().Level"></Label></th> 
                    <th scope="col"> <Label asp-for="@Model.Results.FirstOrDefault().Page"></Label></th> 
                    <th scope="col"> <Label asp-for="@Model.Results.FirstOrDefault().Range"></Label></th> 
                    <th scope="col"> <Label asp-for="@Model.Results.FirstOrDefault().School"></Label></th>   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Results)
                {
                    <tr>
                        <th scope="row">@item.Name</th>
                        <td>@item.Casting_time </td>
                        <td>@item.Concentration </td>
                        <td>@item.Desc </td>
                        <td>@item.Dnd_class </td>
                        <td>@item.Higher_level </td>
                        <td>@item.Level </td>
                        <td>@item.Page </td>
                        <td>@item.Page </td>
                        <td>@item.School </td>  
                    </tr>
                }
            </tbody> 
        </table>
        <!-- End Default Table Example -->
    </div>
</div>