@model IEnumerable<Fangehull.Models.MonstersModel>

@{
    ViewData["Title"] = "Monsters";
}

<h1>
    List of monsters
</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.First().MonsterName">Monster Name</label>
            </th>
            <th>
                <label asp-for="@Model.First().MaxHealtPoints">Max Healt Points</label>
            </th>
            <th>
                <label asp-for="@Model.First().Dificulty">Dificulty</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.MonsterName
            </td>
            <td>
                @item.MaxHealtPoints
            </td>
            <td>
                @item.Dificulty
            </td>
@*            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
