@model IEnumerable<OstreCWEB.Data.Repository.Characters.CoreClasses.PlayableCharacter>

@{
    ViewData["Title"] = "PlayableCharacterSummary";
}

<h1>PlayableCharacterSummary</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CharacterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxHealthPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentHealthPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dexterity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Constitution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intelligence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wisdom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Charisma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxHealthPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentHealthPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dexterity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Constitution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intelligence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wisdom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Charisma)
            </td>
        </tr>
}
    </tbody>
</table>

<div class="card">
    <div>
        <p>.</p>

    </div>
</div>
<div class="card">
    <div>
       <a asp-action="PlayableCharacterSkills" class="btn btn-primary">Skills</a>
       <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Done</a>
    </div>
</div>