@model IEnumerable<OstreCWEB.Data.Repository.Characters.CoreClasses.PlayableCharacter>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<body>
    <h1>Attribute Points</h1>
    <div class="col">
        <div>
            <a asp-action="RollAttributePoints" asp-route-characterid="1" class="btn btn-primary">Roll</a>
            <a asp-action="SaveAttributePoints" asp-route-characterid="1" class="btn btn-primary">Save</a>
            <a asp-action="LoadAttributePoints" asp-route-characterid="1" class="btn btn-primary">Load</a>
        </div>
        <div>
            @foreach (var item in Model)
            {
                <label>@Html.DisplayNameFor(item => item.TotalAttributePoints)</label>
                <label>@Html.DisplayFor(itemModel => item.TotalAttributePoints) | </label>
                <label>@Html.DisplayNameFor(item => item.AvailableAttributePoints)</label>
                <label>@Html.DisplayFor(itemModel => item.AvailableAttributePoints)</label>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="background-color: gray">
            <div class="m-3"><label>@Html.DisplayNameFor(item => item.Strength)</label></div>
            <div class="m-3"><label>@Html.DisplayNameFor(item => item.Dexterity)</label></div>
            <div class="m-3"><label>@Html.DisplayNameFor(item => item.Constitution)</label></div>
            <div class="m-3"><label>@Html.DisplayNameFor(item => item.Intelligence)</label></div>
            <div class="m-3"><label>@Html.DisplayNameFor(item => item.Wisdom)</label></div>
            <div class="m-3"><label>@Html.DisplayNameFor(item => item.Charisma)</label></div>
        </div>
        <div class="col-4" style="background-color: gray">
            @foreach (var item in Model)
            {
                <div class="m-1">
                @*<label>@Html.DisplayNameFor(item => item.Strength)</label>*@
                    <input value="@item.Strength" />
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="up" asp-route-attribute="Strength" class="btn btn-primary">+</a>
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="down" asp-route-attribute="Strength" class="btn btn-primary">-</a>
                </div>
                <div class="m-1">
                @*<label>@Html.DisplayNameFor(item => item.Dexterity)</label>*@
                    <input value="@item.Dexterity" />
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="up" asp-route-attribute="Dexterity" class="btn btn-primary">+</a>
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="down" asp-route-attribute="Dexterity" class="btn btn-primary">-</a>
                </div>
                <div class="m-1">
                @*<label>@Html.DisplayNameFor(item => item.Constitution)</label>*@
                    <input value="@item.Constitution" />
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="up" asp-route-attribute="Constitution" class="btn btn-primary">+</a>
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="down" asp-route-attribute="Constitution" class="btn btn-primary">-</a>
                </div>
                <div class="m-1">
                @*<label>@Html.DisplayNameFor(item => item.Intelligence)</label>*@
                    <input value="@item.Intelligence" />
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="up" asp-route-attribute="Intelligence" class="btn btn-primary">+</a>
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="down" asp-route-attribute="Intelligence" class="btn btn-primary">-</a>
                </div>
                <div class="m-1">
                @*<label>@Html.DisplayNameFor(item => item.Wisdom)</label>*@
                    <input value="@item.Wisdom" />
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="up" asp-route-attribute="Wisdom" class="btn btn-primary">+</a>
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="down" asp-route-attribute="Wisdom" class="btn btn-primary">-</a>
                </div>
                <div class="m-1">
                @*<label>@Html.DisplayNameFor(item => item.Charisma)</label>*@
                    <input value="@item.Charisma" />
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="up" asp-route-attribute="Charisma" class="btn btn-primary">+</a>
                        <a asp-action="ChangeValue" asp-route-characterid="1" asp-route-operation="down" asp-route-attribute="Charisma" class="btn btn-primary">-</a>
                </div>
            }
        </div>
    </div>
    <div class="card">
        <div>
        </div>
    </div>
    <div class="card">
        <div>
           <a asp-action="PlayableCharacterClass" class="btn btn-primary">Class</a>
           <a asp-action="PlayableCharacterSkills" class="btn btn-primary">Skills</a>
        </div>
    </div>
</body>
</html>