@using OstreCWEB.DomainModels.CharacterModels.Enums
@model OstreCWEB.ViewModel.Characters.ItemCharacterView
 
<dl class="row">
    <dt class="col-sm-2 border-bottom">
        <label asp-for="@Model.Item.Ability.PossibleTarget"></label>
    </dt>
    <dd class="col-sm-10">
        @(Model.Item.Ability.PossibleTarget==TargetType.Target?"Enemy":"Yourself")
    </dd>
    <dt class="col-sm-2 border-bottom">
        <label asp-for="@Model.Item.Ability.AbilityDescription"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Item.Ability.AbilityDescription
    </dd>
    @if (@Model.Item.Ability.AggressiveAction)
    {
        <dt class="col-sm-2 border-bottom"><label asp-for="@Model.Item.Ability.SavingThrowPossible"></label></dt>
        <dd class="col-sm-10">@(Model.Item.Ability.SavingThrowPossible? "Possible":"Not Possible")</dd>

        <dt class="col-sm-2 border-bottom"><label asp-for="@Model.Item.Ability.StatForTest"></label></dt>
        <dd class="col-sm-10">@Model.Item.Ability.StatForTest.ToString()</dd>
    }
    @if (@Model.Item.Ability.ActionType != AbilityType.SpecialAction)
    {
        <dt class="col-sm-2 border-bottom"><label asp-for="@Model.Item.Ability.Max_Dmg"></label></dt>
        <dd class="col-sm-10">@Model.Item.Ability.Max_Dmg</dd>
        <dt class="col-sm-2 border-bottom"><label asp-for="@Model.Item.Ability.Hit_Dice_Nr"></label> </dt>
        <dd class="col-sm-10">@Model.Item.Ability.Hit_Dice_Nr</dd>
        <dt class="col-sm-2 border-bottom"><label asp-for="@Model.Item.Ability.Flat_Dmg"></label> </dt>
        <dd class="col-sm-10">@Model.Item.Ability.Flat_Dmg </dd>
    }
    @if (@Model.Item.Ability.InflictsStatus)
    {
        <partial name="_Status" model="@Model.Item.Ability.Status" />
    }
</dl>
 




