@model IEnumerable<OstreCWEB.ViewModel.Characters.AbilityView>
@{
}
<div class="card">
    <div class="card-body">
        
        <h5 class="card-title">Items</h5>
        <br />
        <a asp-controller="CharacterAction" asp-action="Create" type="button" class="btn btn-primary">Add new item</a>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().AbilityName"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().AbilityDescription"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().ActionType"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().Status.Name"></Label></th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var action in Model)
                {
                    <tr>
                        <th scope="row">@action.AbilityName</th>
                        <td>@action.AbilityDescription</td>
                        <td>@action.ActionType.ToString()</td> 
                        <td><a asp-controller="CharacterAction" asp-action="Edit" asp-route-id="@action.Id" type="button" class="btn btn-primary">Edit</a></td>
                        <td><a asp-controller="CharacterAction" asp-action="Delete" asp-route-id="@action.Id" type="button" class="btn btn-primary">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- End Default Table Example -->
    </div>
</div>