@model IEnumerable<OstreCWEB.ViewModel.Identity.UserParagraphView>
    @{
        ViewData["Title"] = "_PlayableCharacterTable";
    } 
    <div class="card">
        <div class="card-body"> 

            <table class="table">
                <thead>
                    <tr>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().RelatedStoryName"></Label></th> 
                    <th scope="col"> <Label asp-for=" FirstOrDefault().RelatedCharacterName"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().RelatedCharacterRace"></Label></th>
                    <th scope="col"> <Label asp-for=" FirstOrDefault().RelatedCharacterClass"></Label></th> 
                    <th scope="col"> <Label asp-for=" FirstOrDefault().Paragraph.StageDescription"></Label></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var gameSession in Model)
                    {
                        <tr>
                            <th scope="row">@gameSession.RelatedStoryName</th>
                            <td>@gameSession.RelatedCharacterName</td>
                            <td>@gameSession.RelatedCharacterRace</td>
                            <td>@gameSession.RelatedCharacterClass</td> 
                            <td>@gameSession.Paragraph.StageDescription</td>
                            <td>
                                <a asp-controller="Game" asp-action="LoadGame" asp-route-id="@gameSession.Id" type="button" class="btn btn-primary">Load Save</a>
                                <a asp-controller="Game" asp-action="DeleteGame" asp-route-id="@gameSession.Id" type="button" class="btn btn-Danger">Delete Save</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- End Default Table Example -->
        </div>
    </div>


